{% extends 'auditing/layout.html'%}
{% load static %}

{% block title %} الصفحة الرئيسية {% endblock %}
{% block content %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">اسم مستخدم</label>
      <input type="text" class="form-control" id="username" name="username"/>
    </div>
    <div class="form-group">
      <label for="pwd">كلمة السر</label>
      <input type="password" class="form-control" id="pwd" name="password" />
    </div>
</form>

{% endblock %}